{{> startview}}

    <div class="row">
        <div class="col-9">
            <h1>About | Demo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis distinctio impedit voluptatem porro. Fugiat omnis neque placeat excepturi laudantium earum ab! Nulla debitis accusantium optio facilis fuga, laborum distinctio?</p>
        </div>
        <div class="col-3">
            <img src="./assets/image/protoChilo.png" class="img-thumbnail" >
        </div>
    </div>

{{> footer }}